body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.map-container {
    border: 1px solid #ffffff;
    width: 100%;
    margin: 0 auto; /* Center the container horizontally */
}

.map-overlay {
    position: relative; 
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls label {
    margin-right: 10px;
}

.year-text {
    font-size: 36px;
    display: block;
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: #ffffff; 
}

.source-text {
    margin-top: 20px;
    font-size: 8px;
    color: #727272c7;
}
