body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.map-container {
    border: 1px solid #ffffff;
    width: 100%;
    margin: 0 auto;
}

.map-overlay {
    position: relative; 
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls label {
    margin-right: 10px;
}

.year-text {
    font-size: 36px;
    display: block;
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: #ffffff; 
}

.title-text {
    font-size: 24px;
    display: block;
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: #ffffff; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.subtitle-text {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 40px; 
    left: 10px; 
    color: #ffffff; 
    opacity: 0;
    transition: opacity 0.3s ease;
}

.source-text {
    margin-top: 20px;
    font-size: 8px;
    color: #727272c7;
}

.map-container:hover .title-text,
.map-container:hover .subtitle-text {
    opacity: 1;
}
